[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
robotframework = "*"
robotframework-appiumlibrary = "*"
allure-robotframework = "*"

[requires]
python_version = "3.8"

[scripts]
test-report =  "robot --listener allure_robotframework;/set/your/path/here ./specs"